## Big Data Essentials 
### NoSQL MongoDB with Python

##### Full Name: Umber Sheikh

<b>Please follow Dr. Liao's code examples/tutorials to complete these tasks: </b>

In [82]:
!pip3 install pymongo

Requirement already satisfied: pymongo in /opt/homebrew/lib/python3.11/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/homebrew/lib/python3.11/site-packages (from pymongo) (2.3.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python3.11 -m pip install --upgrade pip

#### Import Libaries

In [83]:
import pymongo
import pandas as pd
import json

#### Connect MongoDB

In [84]:
client = pymongo.MongoClient("mongodb://localhost:27017/")

#### Load the CSV file

In [85]:
df = pd.read_csv("EmployeeAttrition.csv")
df.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

#### convert to Json

In [86]:
# convert to Json
data = json.loads(df.to_json(orient='records'))

#### Creating a Database

In [87]:
mongo_db = client["myDB"]
mongo_db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'myDB')

#### Create a Collection

In [88]:
collection_name = "Employees"

In [89]:
collection = mongo_db[collection_name]

#### Insert the data into MongoDB Collection

In [90]:
collection.insert_many(data)

#### Query MongoDB

##### 1. Count the employees whose TotalWorkingYears are greater than 20.

In [91]:
collection.count_documents(
    {"TotalWorkingYears": {'$gt': 20}}
)

207

##### 2. Find EmployeeNumber, EducationField, JobRole for all the employees whose Age is between 25 and 30 and Education is 5. Display only EmployeeNumber, EducationField, and JobRobe in the output.

In [92]:
employees = collection.find(
    {"Age": {"$gte": 25,"$lte": 30 },
    "Education": {"$eq": 5}},
    {'EmployeeNumber', 'EducationField', 'JobRobe'}
)

list(employees)

[{'_id': ObjectId('642a502e06a4f38a26c38e8c'),
  'EducationField': 'Other',
  'EmployeeNumber': 455},
 {'_id': ObjectId('642a502e06a4f38a26c38ee0'),
  'EducationField': 'Technical Degree',
  'EmployeeNumber': 565},
 {'_id': ObjectId('642a502e06a4f38a26c38f5c'),
  'EducationField': 'Marketing',
  'EmployeeNumber': 747},
 {'_id': ObjectId('642a502e06a4f38a26c3904d'),
  'EducationField': 'Life Sciences',
  'EmployeeNumber': 1094}]

##### 3. For all the women employees having Age between 35 and 40 and TotalWorkingYears < 5, sort EmployeeNumber in an ascending order. Print only Department and EmployeeNumber in the output.

In [93]:
employees = collection.find(
    {"Age": {"$gte": 35,"$lte": 40 },
    "Gender": {"$eq": "Female"},
    "TotalWorkingYears": {"$lt": 5}},
    {'Department', 'EmployeeNumber'}
).sort('EmployeeNumber ', 1 )

list(employees)

[{'_id': ObjectId('642a502e06a4f38a26c38d60'),
  'Department': 'Sales',
  'EmployeeNumber': 49},
 {'_id': ObjectId('642a502e06a4f38a26c38d74'),
  'Department': 'Research & Development',
  'EmployeeNumber': 75},
 {'_id': ObjectId('642a502e06a4f38a26c38dee'),
  'Department': 'Research & Development',
  'EmployeeNumber': 245},
 {'_id': ObjectId('642a502e06a4f38a26c38f7f'),
  'Department': 'Sales',
  'EmployeeNumber': 805},
 {'_id': ObjectId('642a502e06a4f38a26c39191'),
  'Department': 'Research & Development',
  'EmployeeNumber': 1569},
 {'_id': ObjectId('642a502e06a4f38a26c391d9'),
  'Department': 'Research & Development',
  'EmployeeNumber': 1662},
 {'_id': ObjectId('642a502e06a4f38a26c391e4'),
  'Department': 'Research & Development',
  'EmployeeNumber': 1675},
 {'_id': ObjectId('642a502e06a4f38a26c3927c'),
  'Department': 'Research & Development',
  'EmployeeNumber': 1886},
 {'_id': ObjectId('642a502e06a4f38a26c392ed'),
  'Department': 'Research & Development',
  'EmployeeNumber': 2052}]

##### 4. Find employees whose HourlyRate is greater than or equal to 100 or DailyRate is greater than 1490. Display Age, HourlyRate, DailyRate, and Department only and sort DailyRate in an ascending order.

In [94]:
employees = collection.find(
    {"$or": [
    {"HourlyRate": {"$gte": 100}},
    {"DailyRate": {"$gt": 1490}}
     ]},
    {'Age', 'HourlyRate', 'DailyRate','Department'}).sort('DailyRate', 1)
        
list(employees)

[{'_id': ObjectId('642a502e06a4f38a26c38e6a'),
  'Age': 31,
  'DailyRate': 218,
  'Department': 'Sales',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c39170'),
  'Age': 29,
  'DailyRate': 224,
  'Department': 'Research & Development',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c38f33'),
  'Age': 45,
  'DailyRate': 306,
  'Department': 'Sales',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c392e6'),
  'Age': 38,
  'DailyRate': 345,
  'Department': 'Sales',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c3907e'),
  'Age': 35,
  'DailyRate': 528,
  'Department': 'Human Resources',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c38dbb'),
  'Age': 22,
  'DailyRate': 594,
  'Department': 'Research & Development',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c38de6'),
  'Age': 19,
  'DailyRate': 602,
  'Department': 'Sales',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c39127'),
  'Age': 26,
  'DailyRate': 652,
  'Department': 'Research & Development',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c38f99'),
  'Age': 34,
  'DailyRate': 702,
  'Department': 'Research & Development',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c38e2c'),
  'Age': 32,
  'DailyRate': 976,
  'Department': 'Sales',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c38e4d'),
  'Age': 21,
  'DailyRate': 996,
  'Department': 'Research & Development',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c38da3'),
  'Age': 37,
  'DailyRate': 1040,
  'Department': 'Research & Development',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c38eaa'),
  'Age': 50,
  'DailyRate': 1046,
  'Department': 'Research & Development',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c392e8'),
  'Age': 36,
  'DailyRate': 1120,
  'Department': 'Sales',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c38fdc'),
  'Age': 33,
  'DailyRate': 1198,
  'Department': 'Research & Development',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c38e3f'),
  'Age': 32,
  'DailyRate': 1311,
  'Department': 'Research & Development',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c39244'),
  'Age': 38,
  'DailyRate': 1336,
  'Department': 'Human Resources',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c39144'),
  'Age': 31,
  'DailyRate': 1445,
  'Department': 'Research & Development',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c38ffd'),
  'Age': 40,
  'DailyRate': 1479,
  'Department': 'Sales',
  'HourlyRate': 100},
 {'_id': ObjectId('642a502e06a4f38a26c3904c'),
  'Age': 40,
  'DailyRate': 1492,
  'Department': 'Research & Development',
  'HourlyRate': 61},
 {'_id': ObjectId('642a502e06a4f38a26c38f12'),
  'Age': 38,
  'DailyRate': 1495,
  'Department': 'Research & Development',
  'HourlyRate': 76},
 {'_id': ObjectId('642a502e06a4f38a26c3914f'),
  'Age': 49,
  'DailyRate': 1495,
  'Department': 'Research & Development',
  'HourlyRate': 96},
 {'_id': ObjectId('642a502e06a4f38a26c391ed'),
  'Age': 38,
  'DailyRate': 1495,
  'Department': 'Research & Development',
  'HourlyRate': 87},
 {'_id': ObjectId('642a502e06a4f38a26c38dd6'),
  'Age': 29,
  'DailyRate': 1496,
  'Department': 'Research & Development',
  'HourlyRate': 41},
 {'_id': ObjectId('642a502e06a4f38a26c3915b'),
  'Age': 28,
  'DailyRate': 1496,
  'Department': 'Sales',
  'HourlyRate': 92},
 {'_id': ObjectId('642a502e06a4f38a26c39115'),
  'Age': 39,
  'DailyRate': 1498,
  'Department': 'Sales',
  'HourlyRate': 44},
 {'_id': ObjectId('642a502e06a4f38a26c38ee6'),
  'Age': 60,
  'DailyRate': 1499,
  'Department': 'Sales',
  'HourlyRate': 80}]

##### 5. For each JobRole, find the average MonthlyIncome. Print out the formatted monthly incomes in hundredth and arrange them in descending order.

In [95]:
result = collection.aggregate([
    {"$group" : {
        "_id" : "$JobRole",  
        "avg_monthly_income" : {"$avg" : '$MonthlyIncome'}
    }},
    {"$sort" : {
        "avg_monthly_income": -1}
    }
])

# print formatted outputs
print('Job Role', '\t', 'MonthlyIncome')
print('---------------------------------')
for x in result:
    print(x['_id'],'\t\t\t','{:.2f}'.format(x['avg_monthly_income']))

Job Role 	 MonthlyIncome
---------------------------------
Manager 			 17181.68
Research Director 			 16033.55
Healthcare Representative 			 7528.76
Manufacturing Director 			 7295.14
Sales Executive 			 6924.28
Human Resources 			 4235.75
Research Scientist 			 3239.97
Laboratory Technician 			 3237.17
Sales Representative 			 2626.00

##### 6. Count the different MaritalStatus when Attrition is YES and AGE is greater than 35 in the dataset. Arrange the count in descending order.

In [96]:
result = collection.aggregate([
    {'$match': {
       "$and": [
        {"Attrition": {"$eq": "Yes"}},
        {"Age": {"$gt": 35}}     
       ]
    }}, 
    {"$group" : {
        "_id" : "$MaritalStatus",
        "total" : {"$sum" : 1}
    }},
    {'$sort': 
     {"total":-1}
    }
])
list(result)

[{'_id': 'Married', 'total': 33},
 {'_id': 'Single', 'total': 30},
 {'_id': 'Divorced', 'total': 14}]

#### Delete All Documents in a Collection

In [97]:
coll_del = collection.delete_many({})
print(coll_del.deleted_count, "documents have been deleted.")

1470 documents have been deleted.

#### Delete the Collection

In [98]:
collection.drop()

In [99]:
#References:
#[1] Dr. Liaoâ€™s lab tutorials and code examples: Blackboard/Liao_PyMongo.html
#[2] PyMongo: https://pymongo.readthedocs.io/en/stable/